html,
body {
    background: #000000;
    color: red;
}

.playerNameText,
.playerRaceText {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 50px;
    color: black;
}

.vidaEsqueleto {
    color: cadetblue;
}

.playerImg {
    display: flex;
    justify-content: center;
}

#playerImg {
    width: 200px;
}

.tituloPericia {
    display: flex;
    font-size: 30px;
    font-family: monospace;
    color: white;
    margin: auto;
    justify-content: center;
}

.up,
.down,
.periciaValue,
.rolarBotao,
.resultadoTexto {
    height: 35px;
    font-family: monospace;
    font-size: 16px;
}

.up,
.down,
.periciaValue {
    width: 30px;
}

.up,
.down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: 2px solid;
    border-bottom: none;
}

.up {
    border-right: none;
}

.periciaValue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    border-top: 2px solid;
    border-color: white;
}

.rolarBotao {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: white;
    border: 2px solid;
    border-bottom: none;
    border-color: white;
}

#buttonSaltar,
#upSaltar,
#downSaltar,
#Saltar,
#buttonMedicina,
#upMedicina,
#downMedicina,
#Medicina,
#buttonLínguas,
#upLínguas,
#downLínguas,
#Línguas,
#buttonLockPick,
#upLockPick,
#downLockPick,
#LockPick,
#buttonCharme,
#upCharme,
#downCharme,
#Charme,
#buttonShotguns,
#upShotguns,
#downShotguns,
#Shotguns,
#buttonEncontrar,
#upEncontrar,
#downEncontrar,
#Encontrar {
    border-bottom: 2px solid;
    border-color: white;
}

.rolarBotao:hover,
.up:hover,
.down:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border-color: white;
}

.rolarBotao:active,
.up:active,
.down:active {
    color: black;
    background-color: rgb(128, 128, 128);
}

.classePericia {
    background-color: black;
    color: white;
    margin: 15px;
    justify-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.dadoTexto {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

#containerD20 {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: monospace;
    font-size: 30px;
}

#resultadoTexto {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: monospace;
}
#imgD20 {
    width: 200px;
}

dt {
    display: flex;
}
