html,
body {
    background: #000000;
    color: red;
}

/* MENU */
.playersMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.playersGrid{
    display: grid;
    justify-items: center;
    justify-content: center;
}
/*  */
/* BOTÃO NO GRID DO MENU */
.playerButton{
    display: grid;
    width: 500px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0);
    justify-items: center;
    margin: 2px;
}
/*  */

/* ITENS DIRETO NO GRID DO BOTÃO */
.playerNameText{
    grid-column: 1;
    grid-row: 1;
    font-size: 25px;
    font-family: monospace;
}
.playerRaceText{
    grid-column: 1;
    grid-row: 2;
    font-size: 25px;
    font-family: monospace;
}
.playerImg{
    grid-column: 1;
    grid-row: 3/10;
    width: 225px;
}
/*  */

/* PARENTES NO GRID PRINCIPAL DO BOTAO */
.playerStatsText{
    display: grid;
    grid-column: 2;
    grid-row: 1 / 4;
}
.playerStatsText > *{
    display: flex;
    outline: 1px solid;
    border: 1px solid;
    line-height: 20px;
    width: 50px;
    margin: 5px;
    justify-content: center;
}
.playerAttributesText{
    grid-column: 2/3;
    grid-row: 5/8;
    display: grid;
    font-size: 20px;
    font-family: monospace;
    grid-template-columns: repeat(4, 1fr);
}
.playerAttributesText > *{
    display: flex;
    outline: 1px solid;
    border: 1px solid;
    line-height: 20px;
    width: 50px;
    margin: 3px;
}
/*  */

/* ITENS NO GRID DE STATS */
.playerHealthText{
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    font-family: monospace;
}
.playerSanityText{
    grid-column: 3;
    grid-row: 1;
    font-size: 20px;
    font-family: monospace;
}
.playerMagicText{
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    font-family: monospace;
}
/*  */
/* CONFIGURAÇÕES PERSONALIZADAS POR PERSONAGEM DOS BOTOES */
/* MIRKHALO */
#MirkhaloButton{
    grid-row: 1;
    grid-column: 1;
    background-color: #5d0000;
}
#MirkhaloButton:hover{
    border-color: #c90000;
}
/*  */

/* DRAKE */
#DrakeButton{
    grid-row: 1;
    grid-column: 2;
    background-color: #012f40;
}
#DrakeButton:hover{
    border-color: #05b9fa;
}
/*  */

/* KIERAN */
#KieranButton{
    grid-row: 1;
    grid-column: 3;
    background-color: #2b2b2e;
}
#KieranButton:hover{
    border-color: #787878;
}
/*  */

/* MENDI */
#MendiButton{
    grid-row: 2;
    grid-column: 1;
    background-color: #006161;
}
#MendiButton:hover{
    border-color: #00c8c8;
}
/*  */

/* DÓRIS */
#DórisButton{
    grid-row: 2;
    grid-column: 2;
    background-color: #610046;
}
#DórisButton:hover{
    border-color: #d5009a;
}
/*  */


